In [1]:
#  Copyright (c) Microsoft Corporation.
#  Licensed under the MIT License.
import sys, site
from pathlib import Path
# scripts_dir = Path.cwd().parent.joinpath("scripts")
scripts_dir = Path("D:/py/qlib/scripts")
print(scripts_dir.joinpath("get_data.py"))
assert scripts_dir.joinpath("get_data.py").exists()
import numpy as np
import pandas as pd

D:\py\qlib\scripts\get_data.py

In [2]:
sys.version

'3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 18:58:18) [MSC v.1900 64 bit (AMD64)]'

In [3]:
################################# NOTE #################################
#  Please be aware that if colab installs the latest numpy and pyqlib  #
#  in this cell, users should RESTART the runtime in order to run the  #
#  following cells successfully.                                       #
########################################################################

try:
    import qlib
except ImportError:
    # install qlib
    ! pip install --upgrade numpy
    ! pip install pyqlib
    # reload
    site.main()

# scripts_dir = Path.cwd().parent.joinpath("scripts")
if not scripts_dir.joinpath("get_data.py").exists():
    # download get_data.py script
    scripts_dir = Path("~/tmp/qlib_code/scripts").expanduser().resolve()
    scripts_dir.mkdir(parents=True, exist_ok=True)
    import requests
    with requests.get("https://raw.githubusercontent.com/microsoft/qlib/main/scripts/get_data.py") as resp:
        with open(scripts_dir.joinpath("get_data.py"), "wb") as fp:
            fp.write(resp.content)

In [4]:
import qlib
import pandas as pd
from qlib.constant import REG_CN
from qlib.utils import exists_qlib_data, init_instance_by_config
from qlib.workflow import R
from qlib.workflow.record_temp import SignalRecord, PortAnaRecord
from qlib.utils import flatten_dict

In [5]:
sys.path.append("D:/py/qlib/scripts")
print(sys.path)

['D:\\py\\qlib\\pylearn', 'd:\\python37\\python37.zip', 'd:\\python37\\DLLs', 'd:\\python37\\lib', 'd:\\python37', '', 'd:\\python37\\lib\\site-packages', 'd:\\python37\\lib\\site-packages\\win32', 'd:\\python37\\lib\\site-packages\\win32\\lib', 'd:\\python37\\lib\\site-packages\\Pythonwin', 'd:\\python37\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\hzb\\.ipython', 'D:/py/qlib/scripts']

# explore kaggle jpx data

In [6]:
provider_uri = "D:/py/qlib/.qlib/qlib_data/jpx_data"  # target_dir
qlib.init(provider_uri=provider_uri, region=REG_CN)

[5948:MainThread](2022-06-07 14:02:26,351) INFO - qlib.Initialization - [config.py:403] - default_conf: client.
[5948:MainThread](2022-06-07 14:02:26,423) INFO - qlib.Initialization - [__init__.py:73] - qlib successfully initialized based on client settings.
[5948:MainThread](2022-06-07 14:02:26,425) INFO - qlib.Initialization - [__init__.py:75] - data_path={'__DEFAULT_FREQ': WindowsPath('D:/py/qlib/.qlib/qlib_data/jpx_data')}

In [7]:
market = "all"
benchmark = "1301"

In [8]:
from qlib.data import D
# D.calendar(start_time='2010-01-01', end_time='2017-12-31', freq='day')[:2]
from qlib.data.filter import ExpressionDFilter
expressionDFilter = ExpressionDFilter(rule_expression='$close>100')
instruments = D.instruments(market='all', filter_pipe=[expressionDFilter])
# D.list_instruments(instruments=instruments, start_time='2017-01-04', end_time='2022-02-28', as_list=True)

In [9]:
instruments = ['1301', '1332']
fields = ['$close', '$volume', '$adjustmentfactor', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
f_d = D.features(instruments, fields, start_time='2017-01-04', end_time='2019-02-04', freq='day')
# f_d.isna().sum()
f_d

                       $close    $volume  $adjustmentfactor  Ref($close, 1)  \
instrument datetime
1301       2017-01-04  2742.0    31400.0                1.0             NaN
           2017-01-05  2738.0    17900.0                1.0          2742.0
           2017-01-06  2740.0    19900.0                1.0          2738.0
           2017-01-10  2748.0    24200.0                1.0          2740.0
           2017-01-11  2745.0     9300.0                1.0          2748.0
...                       ...        ...                ...             ...
1332       2019-01-29   675.0  1921600.0                1.0           663.0
           2019-01-30   672.0  1520200.0                1.0           675.0
           2019-01-31   670.0  1595700.0                1.0           672.0
           2019-02-01   665.0  1420600.0                1.0           670.0
           2019-02-04   673.0  1617900.0                1.0           665.0

                       Mean($close, 3)  $high-$low
instrument datetime
1301       2017-01-04      2742.000000        25.0
           2017-01-05      2740.000000        12.0
           2017-01-06      2740.000000        24.0
           2017-01-10      2742.000000        19.0
           2017-01-11      2744.333252        15.0
...                                ...         ...
1332       2019-01-29       670.000000        12.0
           2019-01-30       670.000000        11.0
           2019-01-31       672.333313        15.0
           2019-02-01       669.000000        12.0
           2019-02-04       669.333313        16.0

[1026 rows x 6 columns]

In [10]:
cols = fields
df =f_d
df[cols].groupby("datetime").rank(pct=True)

                       $close  $volume  $adjustmentfactor  Ref($close, 1)  \
instrument datetime
1301       2017-01-04     1.0      0.5               0.75             NaN
           2017-01-05     1.0      0.5               0.75             1.0
           2017-01-06     1.0      0.5               0.75             1.0
           2017-01-10     1.0      0.5               0.75             1.0
           2017-01-11     1.0      0.5               0.75             1.0
...                       ...      ...                ...             ...
1332       2019-01-29     0.5      1.0               0.75             0.5
           2019-01-30     0.5      1.0               0.75             0.5
           2019-01-31     0.5      1.0               0.75             0.5
           2019-02-01     0.5      1.0               0.75             0.5
           2019-02-04     0.5      1.0               0.75             0.5

                       Mean($close, 3)  $high-$low
instrument datetime
1301       2017-01-04              1.0         1.0
           2017-01-05              1.0         1.0
           2017-01-06              1.0         1.0
           2017-01-10              1.0         1.0
           2017-01-11              1.0         1.0
...                                ...         ...
1332       2019-01-29              0.5         0.5
           2019-01-30              0.5         0.5
           2019-01-31              0.5         0.5
           2019-02-01              0.5         0.5
           2019-02-04              0.5         0.5

[1026 rows x 6 columns]

**这一步之后为什么close变成了1和0.5，不是只做了rank吗**

## remove 60 days for Alpha360 handler

In [11]:
df = f_d
df.index = df.index.get_level_values('datetime')
print(df.index.min(), df.index.max())

start_time = pd.to_datetime(df.index.min()) + pd.Timedelta(days=60)
print(start_time.strftime('%Y-%m-%d'))

2017-01-04 00:00:00 2019-02-04 00:00:00
2017-03-05

# train model

## define static parameters

In [12]:
experiment_name="online_srv"

In [13]:
###################################
# train model
###################################
# '2017-01-04', end_time='2022-02-28'
data_handler_config = {
    # "start_time": "2017-01-04",
    "start_time": start_time, # 
    "end_time": "2019-02-04",
    "fit_start_time": "2017-01-04",
    "fit_end_time": "2018-07-31",
    "instruments": market,
    "infer_processors": [
      {
        "class": "RobustZScoreNorm",
        "kwargs": {
          "fields_group": "feature",
          "clip_outlier": True
        }
      },
      {
        "class": "Fillna",
        "kwargs": {
          "fields_group": "feature"
        }
      }
    ],
    "learn_processors": [
      {
        "class": "DropnaLabel"
      },
      {
        "class": "CSRankNorm",
        "kwargs": {
          "fields_group": "label"
        }
      }
    ],
    "label": [
      "Ref($close, -2) / Ref($close, -1) - 1"
    ]
}

task = {   
    "model": {
        "class": "LSTM",
        "module_path": "qlib.contrib.model.pytorch_lstm",
        "kwargs": {
            "d_feat": 6,
            "hidden_size": 64,
            "num_layers": 2,
            "dropout": 0.1,
            "dec_dropout": 0.0,
            "n_epochs": 15,
            "lr": 1e-4,
            "early_stop": 3,
            "batch_size": 800,
            "metric": "loss",
            "loss": "mse",
            "optimizer": "adam",
            "GPU": 1
        },
    },
    "dataset": {
        "class": "DatasetH",
        "module_path": "qlib.data.dataset",
        "kwargs": {
            "handler": {
                "class": "Alpha360",
                "module_path": "qlib.contrib.data.handler",
                "kwargs": data_handler_config,
            },
            "segments": {
                "train": (start_time, "2018-07-31"),
                "valid": ("2018-08-01", "2019-02-04"),
                "test": ("2018-08-01", "2019-02-04"),
            },
        },
    },
}

# model initiaiton
model = init_instance_by_config(task["model"])
dataset = init_instance_by_config(task["dataset"])

[5948:MainThread](2022-06-07 14:03:08,471) INFO - qlib.LSTM - [pytorch_lstm.py:58] - LSTM pytorch version...
[5948:MainThread](2022-06-07 14:03:08,473) INFO - qlib.LSTM - [pytorch_lstm.py:104] - LSTM parameters setting:
d_feat : 6
hidden_size : 64
num_layers : 2
dropout : 0.1
n_epochs : 15
lr : 0.0001
metric : loss
batch_size : 800
early_stop : 3
optimizer : adam
loss_type : mse
visible_GPU : 1
use_GPU : False
seed : None
d:\python37\lib\site-packages\qlib\utils\__init__.py:689: FutureWarning: MultiIndex.is_lexsorted is deprecated as a public function, users should use MultiIndex.is_monotonic_increasing instead.
  if idx.is_monotonic_increasing and not (isinstance(idx, pd.MultiIndex) and not idx.is_lexsorted()):
[5948:MainThread](2022-06-07 14:06:38,059) INFO - qlib.timer - [log.py:113] - Time cost: 209.557s | Loading data Done
d:\python37\lib\site-packages\numpy\lib\nanfunctions.py:997: RuntimeWarning: All-NaN slice encountered
  result = np.apply_along_axis(_nanmedian1d, axis, a, overwrite_input)
[5948:MainThread](2022-06-07 14:06:56,074) INFO - qlib.timer - [log.py:113] - Time cost: 16.637s | RobustZScoreNorm Done
[5948:MainThread](2022-06-07 14:06:56,652) INFO - qlib.timer - [log.py:113] - Time cost: 0.577s | Fillna Done
[5948:MainThread](2022-06-07 14:06:57,922) INFO - qlib.timer - [log.py:113] - Time cost: 0.875s | DropnaLabel Done
d:\python37\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
[5948:MainThread](2022-06-07 14:06:58,746) INFO - qlib.timer - [log.py:113] - Time cost: 0.822s | CSRankNorm Done
[5948:MainThread](2022-06-07 14:06:58,904) INFO - qlib.timer - [log.py:113] - Time cost: 20.844s | fit & process data Done
[5948:MainThread](2022-06-07 14:06:58,906) INFO - qlib.timer - [log.py:113] - Time cost: 230.404s | Init data Done

# explore Ahpha360 (DataHandlerLP) for data processing

In [14]:
dataset.handler._infer.iloc[-9]

feature  CLOSE59                                  1.838693
         CLOSE58                                  1.381776
         CLOSE57                                  1.524205
         CLOSE56                                  1.872459
         CLOSE55                                  1.992861
                                                    ...
         VOLUME3                                  0.193408
         VOLUME2                                  0.724402
         VOLUME1                                  1.737014
         VOLUME0                                  0.000000
label    Ref($close, -2) / Ref($close, -1) - 1    0.005092
Name: (2019-02-04 00:00:00, 9983), Length: 361, dtype: float32

In [15]:
# dataset.handler._learn.iloc[-20:]
pd.set_option('display.max_rows', 400)
na_sum = dataset.handler._learn.isna().sum()

In [16]:
na_sum.to_string()

'feature  CLOSE59                                  0\n         CLOSE58                                  0\n         CLOSE57                                  0\n         CLOSE56                                  0\n         CLOSE55                                  0\n         CLOSE54                                  0\n         CLOSE53                                  0\n         CLOSE52                                  0\n         CLOSE51                                  0\n         CLOSE50                                  0\n         CLOSE49                                  0\n         CLOSE48                                  0\n         CLOSE47                                  0\n         CLOSE46                                  0\n         CLOSE45                                  0\n         CLOSE44                                  0\n         CLOSE43                                  0\n         CLOSE42                                  0\n         CLOSE41                                  0\n         CLOSE40                                  0\n         CLOSE39                                  0\n         CLOSE38                                  0\n         CLOSE37                                  0\n         CLOSE36                                  0\n         CLOSE35                                  0\n         CLOSE34                                  0\n         CLOSE33                                  0\n         CLOSE32                                  0\n         CLOSE31                                  0\n         CLOSE30                                  0\n         CLOSE29                                  0\n         CLOSE28                                  0\n         CLOSE27                                  0\n         CLOSE26                                  0\n         CLOSE25                                  0\n         CLOSE24                                  0\n         CLOSE23                                  0\n         CLOSE22                                  0\n         CLOSE21                                  0\n         CLOSE20                                  0\n         CLOSE19                                  0\n         CLOSE18                                  0\n         CLOSE17                                  0\n         CLOSE16                                  0\n         CLOSE15                                  0\n         CLOSE14                                  0\n         CLOSE13                                  0\n         CLOSE12                                  0\n         CLOSE11                                  0\n         CLOSE10                                  0\n         CLOSE9                                   0\n         CLOSE8                                   0\n         CLOSE7                                   0\n         CLOSE6                                   0\n         CLOSE5                                   0\n         CLOSE4                                   0\n         CLOSE3                                   0\n         CLOSE2                                   0\n         CLOSE1                                   0\n         CLOSE0                                   0\n         OPEN59                                   0\n         OPEN58                                   0\n         OPEN57                                   0\n         OPEN56                                   0\n         OPEN55                                   0\n         OPEN54                                   0\n         OPEN53                                   0\n         OPEN52                                   0\n         OPEN51                                   0\n         OPEN50                                   0\n         OPEN49                                   0\n         OPEN48                                   0\n         OPEN47                                   0\n         OPEN46                                   0\n         OPEN45                                   0\n         OPEN44                                   0\n         OPEN43                                   0\n         OPEN42                                   0\n         OPEN41                                   0\n         OPEN40                                   0\n         OPEN39                                   0\n         OPEN38                                   0\n         OPEN37                                   0\n         OPEN36                                   0\n         OPEN35                                   0\n         OPEN34                                   0\n         OPEN33                                   0\n         OPEN32                                   0\n         OPEN31                                   0\n         OPEN30                                   0\n         OPEN29                                   0\n         OPEN28                                   0\n         OPEN27                                   0\n         OPEN26                                   0\n         OPEN25                                   0\n         OPEN24                                   0\n         OPEN23                                   0\n         OPEN22                                   0\n         OPEN21                                   0\n         OPEN20                                   0\n         OPEN19                                   0\n         OPEN18                                   0\n         OPEN17                                   0\n         OPEN16                                   0\n         OPEN15                                   0\n         OPEN14                                   0\n         OPEN13                                   0\n         OPEN12                                   0\n         OPEN11                                   0\n         OPEN10                                   0\n         OPEN9                                    0\n         OPEN8                                    0\n         OPEN7                                    0\n         OPEN6                                    0\n         OPEN5                                    0\n         OPEN4                                    0\n         OPEN3                                    0\n         OPEN2                                    0\n         OPEN1                                    0\n         OPEN0                                    0\n         HIGH59                                   0\n         HIGH58                                   0\n         HIGH57                                   0\n         HIGH56                                   0\n         HIGH55                                   0\n         HIGH54                                   0\n         HIGH53                                   0\n         HIGH52                                   0\n         HIGH51                                   0\n         HIGH50                                   0\n         HIGH49                                   0\n         HIGH48                                   0\n         HIGH47                                   0\n         HIGH46                                   0\n         HIGH45                                   0\n         HIGH44                                   0\n         HIGH43                                   0\n         HIGH42                                   0\n         HIGH41                                   0\n         HIGH40                                   0\n         HIGH39                                   0\n         HIGH38                                   0\n         HIGH37                                   0\n         HIGH36                                   0\n         HIGH35                                   0\n         HIGH34                                   0\n         HIGH33                                   0\n         HIGH32                                   0\n         HIGH31                                   0\n         HIGH30                                   0\n         HIGH29                                   0\n         HIGH28                                   0\n         HIGH27                                   0\n         HIGH26                                   0\n         HIGH25                                   0\n         HIGH24                                   0\n         HIGH23                                   0\n         HIGH22                                   0\n         HIGH21                                   0\n         HIGH20                                   0\n         HIGH19                                   0\n         HIGH18                                   0\n         HIGH17                                   0\n         HIGH16                                   0\n         HIGH15                                   0\n         HIGH14                                   0\n         HIGH13                                   0\n         HIGH12                                   0\n         HIGH11                                   0\n         HIGH10                                   0\n         HIGH9                                    0\n         HIGH8                                    0\n         HIGH7                                    0\n         HIGH6                                    0\n         HIGH5                                    0\n         HIGH4                                    0\n         HIGH3                                    0\n         HIGH2                                    0\n         HIGH1                                    0\n         HIGH0                                    0\n         LOW59                                    0\n         LOW58                                    0\n         LOW57                                    0\n         LOW56                                    0\n         LOW55                                    0\n         LOW54                                    0\n         LOW53                                    0\n         LOW52                                    0\n         LOW51                                    0\n         LOW50                                    0\n         LOW49                                    0\n         LOW48                                    0\n         LOW47                                    0\n         LOW46                                    0\n         LOW45                                    0\n         LOW44                                    0\n         LOW43                                    0\n         LOW42                                    0\n         LOW41                                    0\n         LOW40                                    0\n         LOW39                                    0\n         LOW38                                    0\n         LOW37                                    0\n         LOW36                                    0\n         LOW35                                    0\n         LOW34                                    0\n         LOW33                                    0\n         LOW32                                    0\n         LOW31                                    0\n         LOW30                                    0\n         LOW29                                    0\n         LOW28                                    0\n         LOW27                                    0\n         LOW26                                    0\n         LOW25                                    0\n         LOW24                                    0\n         LOW23                                    0\n         LOW22                                    0\n         LOW21                                    0\n         LOW20                                    0\n         LOW19                                    0\n         LOW18                                    0\n         LOW17                                    0\n         LOW16                                    0\n         LOW15                                    0\n         LOW14                                    0\n         LOW13                                    0\n         LOW12                                    0\n         LOW11                                    0\n         LOW10                                    0\n         LOW9                                     0\n         LOW8                                     0\n         LOW7                                     0\n         LOW6                                     0\n         LOW5                                     0\n         LOW4                                     0\n         LOW3                                     0\n         LOW2                                     0\n         LOW1                                     0\n         LOW0                                     0\n         VWAP59                                   0\n         VWAP58                                   0\n         VWAP57                                   0\n         VWAP56                                   0\n         VWAP55                                   0\n         VWAP54                                   0\n         VWAP53                                   0\n         VWAP52                                   0\n         VWAP51                                   0\n         VWAP50                                   0\n         VWAP49                                   0\n         VWAP48                                   0\n         VWAP47                                   0\n         VWAP46                                   0\n         VWAP45                                   0\n         VWAP44                                   0\n         VWAP43                                   0\n         VWAP42                                   0\n         VWAP41                                   0\n         VWAP40                                   0\n         VWAP39                                   0\n         VWAP38                                   0\n         VWAP37                                   0\n         VWAP36                                   0\n         VWAP35                                   0\n         VWAP34                                   0\n         VWAP33                                   0\n         VWAP32                                   0\n         VWAP31                                   0\n         VWAP30                                   0\n         VWAP29                                   0\n         VWAP28                                   0\n         VWAP27                                   0\n         VWAP26                                   0\n         VWAP25                                   0\n         VWAP24                                   0\n         VWAP23                                   0\n         VWAP22                                   0\n         VWAP21                                   0\n         VWAP20                                   0\n         VWAP19                                   0\n         VWAP18                                   0\n         VWAP17                                   0\n         VWAP16                                   0\n         VWAP15                                   0\n         VWAP14                                   0\n         VWAP13                                   0\n         VWAP12                                   0\n         VWAP11                                   0\n         VWAP10                                   0\n         VWAP9                                    0\n         VWAP8                                    0\n         VWAP7                                    0\n         VWAP6                                    0\n         VWAP5                                    0\n         VWAP4                                    0\n         VWAP3                                    0\n         VWAP2                                    0\n         VWAP1                                    0\n         VWAP0                                    0\n         VOLUME59                                 0\n         VOLUME58                                 0\n         VOLUME57                                 0\n         VOLUME56                                 0\n         VOLUME55                                 0\n         VOLUME54                                 0\n         VOLUME53                                 0\n         VOLUME52                                 0\n         VOLUME51                                 0\n         VOLUME50                                 0\n         VOLUME49                                 0\n         VOLUME48                                 0\n         VOLUME47                                 0\n         VOLUME46                                 0\n         VOLUME45                                 0\n         VOLUME44                                 0\n         VOLUME43                                 0\n         VOLUME42                                 0\n         VOLUME41                                 0\n         VOLUME40                                 0\n         VOLUME39                                 0\n         VOLUME38                                 0\n         VOLUME37                                 0\n         VOLUME36                                 0\n         VOLUME35                                 0\n         VOLUME34                                 0\n         VOLUME33                                 0\n         VOLUME32                                 0\n         VOLUME31                                 0\n         VOLUME30                                 0\n         VOLUME29                                 0\n         VOLUME28                                 0\n         VOLUME27                                 0\n         VOLUME26                                 0\n         VOLUME25                                 0\n         VOLUME24                                 0\n         VOLUME23                                 0\n         VOLUME22                                 0\n         VOLUME21                                 0\n         VOLUME20                                 0\n         VOLUME19                                 0\n         VOLUME18                                 0\n         VOLUME17                                 0\n         VOLUME16                                 0\n         VOLUME15                                 0\n         VOLUME14                                 0\n         VOLUME13                                 0\n         VOLUME12                                 0\n         VOLUME11                                 0\n         VOLUME10                                 0\n         VOLUME9                                  0\n         VOLUME8                                  0\n         VOLUME7                                  0\n         VOLUME6                                  0\n         VOLUME5                                  0\n         VOLUME4                                  0\n         VOLUME3                                  0\n         VOLUME2                                  0\n         VOLUME1                                  0\n         VOLUME0                                  0\nlabel    Ref($close, -2) / Ref($close, -1) - 1    0'

In [17]:
dataset.handler._learn.loc[:, pd.IndexSlice[:, ['CLOSE0', 'OPEN0', 'LOW0', 'VOLUME0', 'HIGH0']]]

                      feature
                       CLOSE0     OPEN0      LOW0 VOLUME0     HIGH0
datetime   instrument
2017-03-06 1301           0.0 -1.647025 -1.495574     0.0 -0.389995
           1332           0.0  2.003291  0.574387     0.0  2.558551
           1333           0.0 -0.488532 -0.082080     0.0 -0.839524
           1376           0.0  0.348450  0.691736     0.0 -0.488260
           1377           0.0  0.663846  0.640347     0.0  0.001264
...                       ...       ...       ...     ...       ...
2019-02-04 9990           0.0 -0.922927 -0.376043     0.0  1.238996
           9991           0.0 -2.371414 -3.000000     0.0 -0.521415
           9993           0.0 -0.147190  0.823325     0.0  0.722399
           9994           0.0 -2.001480 -2.281639     0.0 -0.610913
           9997           0.0 -0.964642 -0.887971     0.0  1.965344

[890224 rows x 5 columns]

In [18]:
# dataset.handler._data.iloc[-20:].isna().sum().to_string()

# learn_ processors
csrank_norm = dataset.handler.learn_processors[1]

from qlib.data.dataset.processor import get_group_columns


print(csrank_norm.fields_group)
# cols = get_group_columns(df, csrank_norm.fields_group)
# print(cols)

label

In [19]:
# infer processor
robust_zscorenorm = dataset.handler.infer_processors[0]

_data = dataset.handler._data.copy()
print(robust_zscorenorm.fields_group)

feature

In [20]:
processor = dataset.handler.infer_processors
processor
# _infer_df = _shared_df.copy()
# _infer_df.iloc[:10]
dataset.handler._data.loc["2019-02-04"].iloc[-10:]

                        feature                                          \
                        CLOSE59   CLOSE58   CLOSE57   CLOSE56   CLOSE55
datetime   instrument
2019-02-04 9982        1.107771  1.095292  1.104935  1.096426  1.108905
           9983        1.197665  1.140681  1.156312  1.196082  1.208350
           9984        1.029224  1.034903  1.014553  1.012423  1.041765
           9987        0.987931  0.987931  1.025862  1.046552  1.056897
           9989        1.159888  1.152875  1.171108  1.150070  1.178121
           9990        0.996396  0.990090  0.990090  0.983784  0.990991
           9991        1.038314  1.040230  1.053640  1.047893  1.065134
           9993        0.928161  0.928161  0.927586  0.928736  0.930460
           9994        1.208296  1.204238  1.199279  1.193418  1.214608
           9997        1.222599  1.291525  1.265537  1.282486  1.325424

                                                                         ...  \
                        CLOSE54   CLOSE53   CLOSE52   CLOSE51   CLOSE50  ...
datetime   instrument                                                    ...
2019-02-04 9982        1.108338  1.098695  1.094158  1.089053  1.091889  ...
           9983        1.192917  1.203007  1.189553  1.167392  1.173526  ...
           9984        1.039399  1.038452  1.057856  1.107667  1.077733  ...
           9987        1.044828  1.032759  1.013793  1.027586  1.024138  ...
           9989        1.180926  1.179523  1.158485  1.141655  1.140252  ...
           9990        1.015315  0.995495  0.987387  0.988288  0.985586  ...
           9991        1.070881  1.067050  1.045019  1.034483  1.039272  ...
           9993        0.945402  0.971839  0.967816  0.969540  0.979885  ...
           9994        1.206943  1.102795  1.154193  1.110009  1.128494  ...
           9997        1.327684  1.348023  1.323164  1.346893  1.332203  ...

                                                                         \
                        VOLUME8   VOLUME7   VOLUME6   VOLUME5   VOLUME4
datetime   instrument
2019-02-04 9982        0.254144  0.475138  0.408840  0.408840  0.751381
           9983        2.137892  1.962599  1.975633  1.116547  1.459955
           9984        1.541432  0.852809  0.978865  0.767552  1.126911
           9987        1.295606  1.133600  1.018198  0.678207  0.813582
           9989        2.359252  1.925256  1.598553  1.194093  2.958409
           9990        0.597892  1.359940  1.040663  0.384036  0.667169
           9991        0.230769  0.337469  0.265509  0.377171  0.265509
           9993        0.607843  1.627451  1.686275  0.352941  0.392157
           9994        0.492647  0.327206  1.000000  0.386029  0.672794
           9997        0.483684  0.410684  0.335992  0.493594  0.488760

                                                             \
                        VOLUME3   VOLUME2   VOLUME1 VOLUME0
datetime   instrument
2019-02-04 9982        0.530387  0.552486  1.331492     1.0
           9983        1.129581  1.408387  1.836985     1.0
           9984        1.010345  1.841951  1.127458     1.0
           9987        1.088771  1.460719  1.122059     1.0
           9989        1.881857  2.025316  1.086799     1.0
           9990        1.067771  1.302711  0.745482     1.0
           9991        0.774194  1.429280  1.062035     1.0
           9993        1.019608  0.568627  0.431373     1.0
           9994        0.768382  0.397059  0.621324     1.0
           9997        0.647571  0.693498  1.940295     1.0

                                                      label
                      Ref($close, -2) / Ref($close, -1) - 1
datetime   instrument
2019-02-04 9982                                   -0.001675
           9983                                    0.005092
           9984                                    0.005466
           9987                                    0.000000
           9989                                   -0.008415
           9990                                   -0.012635
           9991                                   -0.014327
           9993                                    0.007995
           9994                                    0.006685
           9997                                    0.030892

[10 rows x 361 columns]

In [21]:
cols = ['CLOSE0', 'OPEN0', 'HIGH0', 'LOW0', 'VWAP0', 'VOLUME0']
t_temp = dataset.handler._data.loc[:, (['feature'], cols)]

t_temp
# print(t_temp.isna().sum())
# print(t_temp.sum())

                      feature
                       CLOSE0     OPEN0     HIGH0      LOW0 VWAP0 VOLUME0
datetime   instrument
2017-03-06 1301           1.0  0.980707  1.004823  0.980707   NaN     1.0
           1332           1.0  1.023466  1.027076  0.996390   NaN     1.0
           1333           1.0  0.994278  1.001431  0.991416   NaN     1.0
           1376           1.0  1.004082  1.004082  0.997279   NaN     1.0
           1377           1.0  1.007776  1.007776  0.996890   NaN     1.0
...                       ...       ...       ...       ...   ...     ...
2019-02-04 9990           1.0  0.989189  1.017117  0.989189   NaN     1.0
           9991           1.0  0.972222  1.003831  0.968391   NaN     1.0
           9993           1.0  0.998276  1.013218  0.998276   NaN     1.0
           9994           1.0  0.976555  1.003156  0.974752   NaN     1.0
           9997           1.0  0.988701  1.022599  0.985311   NaN     1.0

[893587 rows x 6 columns]

In [39]:
t_temp = dataset.handler._data.loc["2019-02-04"]
cols = ['CLOSE4', 'CLOSE3', 'CLOSE2', 'CLOSE1', 'CLOSE0']
# cols = ['VOLUME4', 'VOLUME3','VOLUME2','VOLUME1','VOLUME0']

t1 = t_temp.loc[:, (['instrument', 'feature'], cols)]
print('shape', t1.shape)

nan_rows = t1[pd.isnull(t1[('feature', cols[1])])]

print(nan_rows.isna().sum())
print(nan_rows)

insts = [('2019-02-04', '6824'), ('2019-02-04', '9535'), ('2019-02-04', '2790'), ('2019-02-04', '9982'), ('2019-02-04', '2226')]

# t1.head()
# print(insts)

t1.isna().sum()
t1.loc[insts]

shape (1930, 5)
feature  CLOSE4     4
         CLOSE3    11
         CLOSE2     8
         CLOSE1     5
         CLOSE0     4
dtype: int64
                        feature
                         CLOSE4 CLOSE3    CLOSE2    CLOSE1 CLOSE0
datetime   instrument
2019-02-04 1981             NaN    NaN       NaN       NaN    NaN
           2226        1.011179    NaN  1.008130  1.013211    1.0
           2761        0.958730    NaN       NaN  0.976190    1.0
           2923        0.976303    NaN  0.969984  0.982622    1.0
           4365             NaN    NaN       NaN       NaN    NaN
           4628        1.023810    NaN       NaN  1.015152    1.0
           4781             NaN    NaN       NaN       NaN    NaN
           4966        1.031496    NaN       NaN  1.006299    1.0
           5945             NaN    NaN       NaN       NaN    NaN
           9539        1.000342    NaN       NaN       NaN    1.0
           9640        0.960279    NaN  0.977003  0.977700    1.0

                        feature
                         CLOSE4    CLOSE3    CLOSE2    CLOSE1 CLOSE0
datetime   instrument
2019-02-04 6824        0.988201  0.997050  0.985251       NaN    1.0
           9535        1.014793  1.005917  1.002959  0.991124    1.0
           2790        1.001178  0.978210       NaN       NaN    1.0
           9982        1.007941  1.007941  0.996597  0.972774    1.0
           2226        1.011179       NaN  1.008130  1.013211    1.0

In [38]:
print(type(t_temp))
t1.index

<class 'pandas.core.frame.DataFrame'>

MultiIndex([('2019-02-04', '1301'),
            ('2019-02-04', '1332'),
            ('2019-02-04', '1333'),
            ('2019-02-04', '1376'),
            ('2019-02-04', '1377'),
            ('2019-02-04', '1379'),
            ('2019-02-04', '1381'),
            ('2019-02-04', '1407'),
            ('2019-02-04', '1413'),
            ('2019-02-04', '1414'),
            ...
            ('2019-02-04', '9982'),
            ('2019-02-04', '9983'),
            ('2019-02-04', '9984'),
            ('2019-02-04', '9987'),
            ('2019-02-04', '9989'),
            ('2019-02-04', '9990'),
            ('2019-02-04', '9991'),
            ('2019-02-04', '9993'),
            ('2019-02-04', '9994'),
            ('2019-02-04', '9997')],
           names=['datetime', 'instrument'], length=1930)

In [41]:
t_temp = dataset.handler._infer.loc["2019-02-04"]
t1 = t_temp.loc[:, (['feature'], ['CLOSE4', 'CLOSE3', 'CLOSE2', 'CLOSE1', 'CLOSE0'])]

# insts = ['6824', '9535', '2790', '9982']

t1.isna().sum()
t1.loc[insts]

                        feature
                         CLOSE4    CLOSE3    CLOSE2    CLOSE1 CLOSE0
datetime   instrument
2019-02-04 6824       -0.353115 -0.069895 -0.726091  0.000000    0.0
           9535        0.585218  0.298132  0.187378 -0.673491    0.0
           2790        0.104800 -0.851872  0.000000  0.000000    0.0
           9982        0.343442  0.382131 -0.140802 -2.065937    0.0
           2226        0.457693  0.000000  0.454155  1.002480    0.0

In [40]:
t_temp = dataset.handler._infer.loc["2019-02-04"]
cols = ['CLOSE0', 'OPEN0', 'HIGH0', 'LOW0', 'VWAP0', 'VOLUME0']
t1 = t_temp.loc[:, (['feature'], cols)]

t1.loc[insts]

                      feature
                       CLOSE0     OPEN0     HIGH0      LOW0 VWAP0 VOLUME0
datetime   instrument
2019-02-04 6824           0.0 -0.251830 -0.638224  0.661541   0.0     0.0
           9535           0.0  0.505156 -0.245038  0.269881   0.0     0.0
           2790           0.0  0.000000 -1.029088  1.050896   0.0     0.0
           9982           0.0 -2.324335  2.954295 -2.542764   0.0     0.0
           2226           0.0  1.561660  1.394757  0.514343   0.0     0.0

In [42]:
print(dataset.handler._data.isna().sum().sum())
print(dataset.handler._data.shape)

56447823
(893587, 361)

In [43]:
dataset.handler._infer

                        feature                                          \
                        CLOSE59   CLOSE58   CLOSE57   CLOSE56   CLOSE55
datetime   instrument
2017-03-06 1301        0.000000  0.000000  0.000000  0.000000  0.000000
           1332        0.000000  0.000000  0.000000  0.000000  0.000000
           1333        0.000000  0.000000  0.000000  0.000000  0.000000
           1376        0.000000  0.000000  0.000000  0.000000  0.000000
           1377        0.000000  0.000000  0.000000  0.000000  0.000000
...                         ...       ...       ...       ...       ...
2019-02-04 9990        0.185727  0.131810  0.129290  0.072660  0.131338
           9991        0.529986  0.547992  0.662593  0.616155  0.766320
           9993       -0.374673 -0.382229 -0.395236 -0.394020 -0.387068
           9994        1.925999  1.909329  1.884777  1.849867  2.046456
           9997        2.043467  2.633852  2.440808  2.604959  2.995516

                                                                         ...  \
                        CLOSE54   CLOSE53   CLOSE52   CLOSE51   CLOSE50  ...
datetime   instrument                                                    ...
2017-03-06 1301        0.000000  0.000000  0.000000  0.000000  0.000000  ...
           1332        0.000000  0.000000  0.000000  0.000000  0.000000  ...
           1333        0.000000  0.000000  0.000000  0.000000  0.000000  ...
           1376        0.000000  0.000000  0.000000  0.000000  0.000000  ...
           1377        0.000000  0.000000  0.000000  0.000000  0.000000  ...
...                         ...       ...       ...       ...       ...  ...
2019-02-04 9990        0.339102  0.165893  0.090879  0.096299  0.068879  ...
           9991        0.819685  0.790186  0.598928  0.507567  0.551410  ...
           9993       -0.265566 -0.040503 -0.081650 -0.070615  0.017643  ...
           9994        1.996467  1.102056  1.561343  1.179976  1.353332  ...
           9997        3.000000  3.000000  3.000000  3.000000  3.000000  ...

                                                                         \
                        VOLUME8   VOLUME7   VOLUME6   VOLUME5   VOLUME4
datetime   instrument
2017-03-06 1301       -0.876204 -1.222551 -1.215429 -0.976274 -1.082677
           1332        1.151866 -0.140376 -0.027432 -0.094221 -0.358237
           1333       -0.149580  0.153647 -0.142694 -0.192526  0.012172
           1376        0.906746  0.018820  0.274167  1.174186  1.139464
           1377        0.176066 -0.266921  0.640752  1.143556  0.764250
...                         ...       ...       ...       ...       ...
2019-02-04 9990       -0.665763  0.545548  0.034145 -1.070208 -0.604014
           9991       -1.245467 -1.092969 -1.232929 -1.081751 -1.290346
           9993       -0.650049  0.974237  1.089468 -1.122496 -1.073937
           9994       -0.831949 -1.109416 -0.032323 -1.066856 -0.594402
           9997       -0.846103 -0.975641 -1.117716 -0.885979 -0.908868

                                                             \
                        VOLUME3   VOLUME2   VOLUME1 VOLUME0
datetime   instrument
2017-03-06 1301       -0.638336 -1.064461 -1.348311     0.0
           1332        0.208999 -0.245410 -0.070249     0.0
           1333       -0.311592  0.026917  0.370454     0.0
           1376        0.185355 -0.094121  1.352881     0.0
           1377        0.743514  0.989553  0.790632     0.0
...                         ...       ...       ...     ...
2019-02-04 9990        0.084752  0.527653 -0.582860     0.0
           9991       -0.431330  0.763302  0.089939     0.0
           9993        0.000086 -0.839075 -1.250466     0.0
           9994       -0.441546 -1.158505 -0.846746     0.0
           9997       -0.653921 -0.606590  1.956588     0.0

                                                      label
                      Ref($close, -2) / Ref($close, -1) - 1
datetime   instrument
2017-03-06 1301                                    0.006420
           1332                                   -0.003650
           1333                                   -0.002861
           1376                                   -0.006873
           1377                                    0.009231
...                                                     ...
2019-02-04 9990                                   -0.012635
           9991                                   -0.014327
           9993                                    0.007995
           9994                                    0.006685
           9997                                    0.030892

[893587 rows x 361 columns]

In [ ]:
# start exp to train model

experiment_id = 'jpx'
# experiment_name: Optional[Text] = None,
# recorder_id: Optional[Text] = None,

# with R.start(experiment_name=experiment_name, experiment_id=experiment_id):
with R.start(experiment_name=experiment_name):
    R.log_params(**flatten_dict(task))
    model.fit(dataset)
    R.save_objects(trained_model=model)
    rid = R.get_recorder().id
    # prediction
    recorder = R.get_recorder()
    sr = SignalRecord(model, dataset, recorder)
    sr.generate()

[5948:MainThread](2022-06-07 14:40:54,974) INFO - qlib.workflow - [expm.py:318] - <mlflow.tracking.client.MlflowClient object at 0x000001EA1C999588>
[5948:MainThread](2022-06-07 14:40:55,320) WARNING - qlib.workflow - [expm.py:198] - No valid experiment found. Create a new experiment with name online_srv.
[5948:MainThread](2022-06-07 14:40:55,331) INFO - qlib.workflow - [exp.py:257] - Experiment 1 starts running ...
[5948:MainThread](2022-06-07 14:40:56,214) INFO - qlib.workflow - [recorder.py:293] - Recorder 3bbb2ce5d72a4efc9abffa0d155cc181 starts running under Experiment 1 ...
[5948:MainThread](2022-06-07 14:40:59,587) INFO - qlib.LSTM - [pytorch_lstm.py:236] - training...
[5948:MainThread](2022-06-07 14:40:59,589) INFO - qlib.LSTM - [pytorch_lstm.py:240] - Epoch0:
[5948:MainThread](2022-06-07 14:40:59,590) INFO - qlib.LSTM - [pytorch_lstm.py:241] - training...
[5948:MainThread](2022-06-07 14:49:53,280) INFO - qlib.LSTM - [pytorch_lstm.py:243] - evaluating...
[5948:MainThread](2022-06-07 14:54:51,490) INFO - qlib.LSTM - [pytorch_lstm.py:246] - train -0.997288, valid -0.997606
[5948:MainThread](2022-06-07 14:54:51,495) INFO - qlib.LSTM - [pytorch_lstm.py:240] - Epoch1:
[5948:MainThread](2022-06-07 14:54:51,497) INFO - qlib.LSTM - [pytorch_lstm.py:241] - training...
[5948:MainThread](2022-06-07 15:03:22,261) INFO - qlib.LSTM - [pytorch_lstm.py:243] - evaluating...
[5948:MainThread](2022-06-07 15:08:11,715) INFO - qlib.LSTM - [pytorch_lstm.py:246] - train -0.997165, valid -0.997305
[5948:MainThread](2022-06-07 15:08:11,718) INFO - qlib.LSTM - [pytorch_lstm.py:240] - Epoch2:
[5948:MainThread](2022-06-07 15:08:11,719) INFO - qlib.LSTM - [pytorch_lstm.py:241] - training...
[5948:MainThread](2022-06-07 15:16:59,674) INFO - qlib.LSTM - [pytorch_lstm.py:243] - evaluating...
[5948:MainThread](2022-06-07 15:21:54,254) INFO - qlib.LSTM - [pytorch_lstm.py:246] - train -0.997089, valid -0.997275
[5948:MainThread](2022-06-07 15:21:54,257) INFO - qlib.LSTM - [pytorch_lstm.py:240] - Epoch3:
[5948:MainThread](2022-06-07 15:21:54,258) INFO - qlib.LSTM - [pytorch_lstm.py:241] - training...
[5948:MainThread](2022-06-07 15:30:36,407) INFO - qlib.LSTM - [pytorch_lstm.py:243] - evaluating...
[5948:MainThread](2022-06-07 15:35:34,971) INFO - qlib.LSTM - [pytorch_lstm.py:246] - train -0.997291, valid -0.997829
[5948:MainThread](2022-06-07 15:35:34,973) INFO - qlib.LSTM - [pytorch_lstm.py:240] - Epoch4:
[5948:MainThread](2022-06-07 15:35:34,973) INFO - qlib.LSTM - [pytorch_lstm.py:241] - training...
[5948:MainThread](2022-06-07 15:44:08,843) INFO - qlib.LSTM - [pytorch_lstm.py:243] - evaluating...
[5948:MainThread](2022-06-07 15:48:58,253) INFO - qlib.LSTM - [pytorch_lstm.py:246] - train -0.997039, valid -0.997281
[5948:MainThread](2022-06-07 15:48:58,254) INFO - qlib.LSTM - [pytorch_lstm.py:240] - Epoch5:
[5948:MainThread](2022-06-07 15:48:58,254) INFO - qlib.LSTM - [pytorch_lstm.py:241] - training...

In [ ]:
print(rid, experiment_name)

# jpx prediction

In [ ]:
import sys
sys.path.append("D:/py/qlib/.qlib/qlib_data/jpx_data")

import jpx_tokyo_market_prediction
env = jpx_tokyo_market_prediction.make_env()
iter_test = env.iter_test()

In [ ]:
prices, options, financials, trades, secondary_prices, sample_prediction = next(iter_test)

In [ ]:
prices
start_date = prices['Date'].min()
end_date = prices['Date'].max()
print(type(start_date), start_date, end_date)

prices = prices.rename(columns={"SecuritiesCode": "instrument", "Open": "open", "High": "high", "Low": "low", "Close": "close", "Volume": "volume", "AdjustmentFactor": "factor", "Date": "date"})

In [ ]:
prices['date'] = pd.to_datetime(prices['date'])
prices['instrument'] = prices['instrument'].apply(lambda x: 'jpx' + str(x))

In [ ]:
# prices.info()
prices.dtypes

In [ ]:
from dump_bin import DumpDataBase, DumpDataUpdate
from typing import Union
from loguru import logger
from qlib.utils import fname_to_code, code_to_fname
import abc
import shutil
import traceback
from pathlib import Path
from typing import Iterable, List, Union
from functools import partial
from concurrent.futures import ThreadPoolExecutor, as_completed, ProcessPoolExecutor

import fire
import numpy as np
import pandas as pd
from tqdm import tqdm
from loguru import logger
from qlib.utils import fname_to_code, code_to_fname

class DumpDataUpdateInMemory(DumpDataUpdate):
    def __init__(
        self,
        data : pd.DataFrame,
        csv_path: str,
        qlib_dir: str,
        backup_dir: str = None,
        freq: str = "day",
        max_workers: int = 16,
        date_field_name: str = "date",
        file_suffix: str = ".csv",
        symbol_field_name: str = "symbol",
        exclude_fields: str = "",
        include_fields: str = "",
        limit_nums: int = None,
    ):
        self.data = data
        super().__init__(
            csv_path,
            qlib_dir,
            backup_dir,
            freq,
            max_workers,
            date_field_name,
            file_suffix,
            symbol_field_name,
            exclude_fields,
            include_fields,
        )

    def _load_all_source_data(self):
        return self.data
    

    def save_instruments(self, instruments_data: Union[list, pd.DataFrame]):
        self._instruments_dir.mkdir(parents=True, exist_ok=True)
        instruments_path = str(self._instruments_dir.joinpath(self.INSTRUMENTS_FILE_NAME).resolve())
        if isinstance(instruments_data, pd.DataFrame):
            _df_fields = [self.symbol_field_name, self.INSTRUMENTS_START_FIELD, self.INSTRUMENTS_END_FIELD]
            instruments_data = instruments_data.loc[:, _df_fields]
            logger.info(f'{self.symbol_field_name}, with {instruments_data.info()}')
            instruments_data[self.symbol_field_name] = instruments_data[self.symbol_field_name].astype(str).apply(
                lambda x: fname_to_code(x.lower()).upper()
            )
            instruments_data.to_csv(instruments_path, header=False, sep=self.INSTRUMENTS_SEP, index=False)
        else:
            np.savetxt(instruments_path, instruments_data, fmt="%s", encoding="utf-8")
    

    def _dump_features(self):
        logger.info("start dump features......")
        error_code = {}
        with ProcessPoolExecutor(max_workers=self.works) as executor:
            futures = {}
            i = 0 
            for _code, _df in self._all_data.groupby(self.symbol_field_name):
                _code = fname_to_code(str(_code).lower()).upper()
                _start, _end = self._get_date(_df, is_begin_end=True)
                if not (isinstance(_start, pd.Timestamp) and isinstance(_end, pd.Timestamp)):
                    continue
                if _code in self._update_instruments:
                    # exists stock, will append data
                    _update_calendars = (
                        _df[_df[self.date_field_name] > self._update_instruments[_code][self.INSTRUMENTS_END_FIELD]][
                            self.date_field_name
                        ]
                        .sort_values()
                        .to_list()
                    )
                    if i < 2:
                        logger.info(f"{_code}: {_update_calendars}")
                        i += 2
                    if _update_calendars:
                        self._update_instruments[_code][self.INSTRUMENTS_END_FIELD] = self._format_datetime(_end)
                        futures[executor.submit(self._dump_bin, _df, _update_calendars)] = _code
                else:
                    # new stock
                    _dt_range = self._update_instruments.setdefault(_code, dict())
                    _dt_range[self.INSTRUMENTS_START_FIELD] = self._format_datetime(_start)
                    _dt_range[self.INSTRUMENTS_END_FIELD] = self._format_datetime(_end)
                    futures[executor.submit(self._dump_bin, _df, self._new_calendar_list)] = _code
                

            with tqdm(total=len(futures)) as p_bar:
                for _future in as_completed(futures):
                    try:
                        _future.result()
                    except Exception:
                        error_code[futures[_future]] = traceback.format_exc()
                    p_bar.update()
            logger.info(f"dump bin errors： {error_code}")

        logger.info("end of features dump.\n")
    

    def _data_to_bin(self, df: pd.DataFrame, calendar_list: List[pd.Timestamp], features_dir: Path):
        if df.empty:
            logger.warning(f"{features_dir.name} data is None or empty")
            return
        if not calendar_list:
            logger.warning("calendar_list is empty")
            return
        # align index
        _df = self.data_merge_calendar(df, calendar_list)
        # used when creating a bin file
        date_index = self.get_datetime_index(_df, calendar_list)
        for field in self.get_dump_fields(_df.columns):
            bin_path = features_dir.joinpath(f"{field.lower()}.{self.freq}{self.DUMP_FILE_SUFFIX}")

            # logger.info(f"update field={field}, columns={_df.columns} to {bin_path}, mode={self._mode}, date_index={date_index}, data={_df[field]}")
            if field not in _df.columns:
                continue
            if bin_path.exists() and self._mode == self.UPDATE_MODE:
                # update
                with bin_path.open("ab") as fp:
                    np.array(_df[field]).astype("<f").tofile(fp)
            else:
                # append; self._mode == self.ALL_MODE or not bin_path.exists()
                np.hstack([date_index, _df[field]]).astype("<f").tofile(str(bin_path.resolve()))


    def _dump_bin(self, file_or_data: [Path, pd.DataFrame], calendar_list: List[pd.Timestamp]):
        if not calendar_list:
            logger.warning("calendar_list is empty")
            return
        if isinstance(file_or_data, pd.DataFrame):
            if file_or_data.empty:
                return
            code = fname_to_code(str(file_or_data.iloc[0][self.symbol_field_name]).lower())
            df = file_or_data
        elif isinstance(file_or_data, Path):
            code = self.get_symbol_from_file(file_or_data)
            df = self._get_source_data(file_or_data)
        else:
            raise ValueError(f"not support {type(file_or_data)}")
        if df is None or df.empty:
            logger.warning(f"{code} data is None or empty")
            return

        # try to remove dup rows or it will cause exception when reindex.
        df = df.drop_duplicates(self.date_field_name)

        # features save dir
        features_dir = self._features_dir.joinpath(code_to_fname(code).lower())
        features_dir.mkdir(parents=True, exist_ok=True)
        self._data_to_bin(df, calendar_list, features_dir)

In [ ]:
_dump = DumpDataUpdateInMemory(data=prices, csv_path='~/.', qlib_dir=provider_uri, symbol_field_name='instrument', exclude_fields="instrument,RowId,SupervisionFlag,date,ExpectedDividend")
_dump.dump()

# print(_dump.symbol_field_name)